<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Market</title>

    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">

    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
</head>
<body>
<div class="uk-container uk-container-large">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <a th:href="@{/}" class="uk-logo uk-navbar-item"><i class="fa-solid fa-pizza-slice"></i>Pizza</a>
                <li><a th:href="@{/menu}">Menu</a></li>
                <li><a th:href="@{/delivery}">Dostawa</a></li>
            </ul>
        </div>
    </nav>

    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <div class="uk-cover-container uk-height-medium uk-margin-small">
                <img th:src="@{/img/home1.jpg}" alt="">
            </div>
            <article class="uk-article uk-margin-large uk-text-center">
                <h1 class="uk-article-title">Pizza neapolitańska</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab aut eos error esse ex expedita
                    facilis iusto neque non optio quae quam quod repudiandae sed sint tenetur vero! Alias consequatur
                    cumque debitis delectus dolore doloremque facere harum id impedit incidunt inventore, ipsum itaque
                    iusto labore natus non nostrum numquam obcaecati officia omnis optio pariatur, porro quaerat qui
                    quidem quis quisquam quo rem repellat sequi similique tempora unde veniam! Ad aperiam consequatur
                    facere facilis minima, obcaecati pariatur sint sit soluta veritatis! A adipisci animi autem
                    blanditiis commodi eos fugiat hic in itaque minima nesciunt nihil placeat, rerum sapiente suscipit
                    veritatis!</p>
                <a class="uk-button uk-button-primary uk-margin-large" th:href="@{/menu}">Sprawdź nasze menu</a>
            </article>
            <div class="uk-cover-container uk-height-medium uk-margin-small">
                <img th:src="@{/img/home2.jpg}" alt="">
            </div>
        </div>
    </div>

</div>
</body>
</html>